body {
  margin: 0;
}
.red {
  background-color: red;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.green {
  background-color: green;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.yellow {
  background-color: yellow;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.lightblue {
  background-color: lightblue;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.orange {
  background-color: orange;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: wheat;
  margin-left: 480px;
  margin-right: 480px;
  border-radius: 20px;
  padding: 4px;
}
