/* @import "tailwindcss"; */

.mainDiv {
  background-image: linear-gradient(to top, rgb(67, 66, 64), rgb(225, 64, 91));
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
.Card {
  width: 80%;
  margin: 30px;
  background-color: aliceblue;
}
